<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{pageTitle}} Page</title>
    </head>
    <body>
        {{> header}}
        <h1>{{pageTitle}}</h1>
        <p>{{ screamIt remark}}</p>
        
    
    {{> footer}}
    </body>

</html>